.DS_Store
node_modules
/dist
electron-builder-output-dir
.env.*
.js
.ts
doc.js

# local env files
.env
.env.*.local
*.txt

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

eslint.config.mjs
#Electron-builder output
/dist_electron